astroid==1.4.6
click==6.6
colorama==0.3.7
coverage==4.1
docker-py==1.7.0
isort==4.2.5
lazy-object-proxy==1.2.2
nose==1.3.7
pylint==1.5.6
requests==2.10.0
-e git+https://github.com/deepgram/sidomo.git@b70825d9017eb0c2c6b6389345cccbcbd52cf669#egg=sidomo
six==1.10.0
uuid==1.30
websocket-client==0.37.0
wrapt==1.10.8
